.tagline {
	background-color: $coral;
	color: $white;
	font-size: 1.2rem;
	font-style: italic;
	padding: .75rem;
	text-align: center;
}

.page-title {
	background-color: $dark-blue;
	padding: 3rem 0;
	
	h1 {
		color:#fff6e5;
	}
}

.page-content {
	padding-top: 4rem;
	
	.columns {
		padding-bottom: 1rem;	
	}
	
	h2 {
		font-family: $droid;
		font-size: 1.5rem;
		font-weight: 700;
		
		@include breakpoint(small only) {
   		font-size: 1.25rem;
  	}
	}
	
	h3 {
		font-family: $droid;
		font-size: 1.2rem;
		font-weight: 700;
		
		@include breakpoint(small only) {
   		font-size: 1rem;
  	}
	}
}

.info-box {
	background-color: #f8f4f0;
	color: $coral;
	font-size: 1.3rem;
	padding: 2.5rem !important;
	
	.source {
		font-family: $droid;
		font-size: 1rem;
	}
	
	@include breakpoint(small only) {
    margin-bottom: 2rem;
  }
}

.contact-text {
	color: $light-blue;
	font-size: 1.75rem;
	padding: 3rem 0;
	text-align: center;
	
	@include breakpoint(small only) {
    font-size: 1.35rem;
		padding: 2rem 0;
  }
}

.features-area {
	background-color: #f8f8f8;
	padding: 2rem 0px .6rem;
}

.features {
	padding: 3rem 0 4.5rem;
}

.feature1 {
	background-image: url(../images/feature-senior-service2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 246px;
	position: relative;
	
	a {
		position: relative;
	}
	
	h2 {
		background: rgba(65, 152, 205, 0.85);
		bottom: 0;
		color: $white;
		font-family: $droid;
		font-size: 1rem;
		font-weight: 700;
		margin: 0px;
		padding: 0.6rem;
		position: absolute;
		text-transform: uppercase;
		width: 100%;
	}
	
	@include breakpoint(small only) {
    margin: 1rem 0;
  }
}

.feature1:hover h2 {
	background: rgba(65, 152, 205, 1);
}

.feature2 {
	background-image: url(../images/feature-home-watch.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 246px;
	position: relative;
	
	a {
		position: relative;
	}
	
	h2 {
		background: rgba(9, 81, 139, 0.85);
		bottom: 0;
		color: $white;
		font-family: $droid;
		font-size: 1rem;
		font-weight: 700;
		margin: 0px;
		padding: 0.6rem;
		position: absolute;
		text-transform: uppercase;
		width: 100%;
	}
	
	@include breakpoint(small only) {
    margin: 1rem 0;
  }
}

.feature2:hover h2 {
	background: rgba(9, 81, 139, 1);
}

.feature3 {
	background-image: url(../images/feature-works.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 246px;
	position: relative;
	
	a {
		position: relative;
	}
	
	h2 {
		background: rgba(245, 123, 101, 0.85);
		bottom: 0;
		color: $white;
		font-family: $droid;
		font-size: 1rem;
		font-weight: 700;
		margin: 0px;
		padding: 0.6rem;
		position: absolute;
		text-transform: uppercase;
		width: 100%;
	}
	
	@include breakpoint(small only) {
    margin: 1rem 0;
  }
}

.feature3:hover h2 {
	background: rgba(245, 123, 101, 1);
}

.copyright {
	background-color: #043862;
	color: $white;
	font-family: $droid;
	font-size: .75rem;
	padding: .75rem;
	text-align: left;
}

.question {
	font-family: $droid;
	font-size: 1.125rem;
	font-weight: 700;
	padding-bottom: 2rem;
}

.answer {
	color: $light-blue;
	font-family: $volkhov;
	font-size: 1rem;
	font-weight: 400;
	padding-bottom: 2rem;
}

.services-padding {
	padding-right: 5rem !important;
}

.service-block {
	min-height: 160px;
	
	@include breakpoint(small only) {
    min-height: 0;
  }
}

label {
	color: $dark-blue;
}