.logo {
	padding: 1rem;
}

.menu {
	font-family: $droid;
	font-size: .9rem;
	font-weight: 700;
	padding-top: 3.5rem;
	
	@include breakpoint(small only) {
    padding-top: 0;
  }
}

.menu li a {
	@media (min-width: 972px) and (max-width: 1089px) {
		padding: 0.7rem 0.5rem;
	}
}

.menu-icon::after {
    box-shadow: 0px 7px 0px $dark-blue, 0px 14px 0px $dark-blue;
    background: $dark-blue none repeat scroll 0% 0%;
}

.title-bar {
    background-color: #D9DADC;
    color: $dark-blue;
    padding: 0.5rem;
}

.top-bar, .top-bar ul {
	@include breakpoint(small only) {
    background-color: #F8F8F8;
	}
}

.mobile-menu-padding {
	@include breakpoint(small only) {
    padding: 0;
  }
}

.page-footer {
	background-color: $dark-blue;
	color: $white;
	padding: 4rem 0;
	
	hr {
		max-width: 75rem;
		height: 0px;
		border-top: 1px solid #14609e;
		border-bottom: 0px none;
		margin: 2.25rem auto;
		clear: both;
	}

}

.footer-menu {
	padding-top: 0;
	
	@include breakpoint(small only) {
    padding-top: 3rem;
  }
}

.footer-menu li a {
	color:#ffffff !important;
	font-weight: 400 !important;
	line-height: .2 !important;
}