.intro-text {
	background: transparent url("../images/header-home.jpg") no-repeat scroll center center / cover;
  height: 45vh;
  overflow: hidden;
		
		@include breakpoint(small only) {
		height: 30vh;
	}
}

.intro-text h1 {
  color: #fff6e5;
	font-size: 3rem;
	font-weight: 700;
	position: relative;
  text-align: center;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	
	@include breakpoint(small only) {
    font-size: 1.85rem;
  }
	
}

.home-intro {
	padding-top: 4rem;
	
	p {
		padding: 0 2rem;
	}
}

.home-content {
	background-color: #f8f8f8;
	padding:3rem 0;
	
	a {
		font-weight: 700;
		text-decoration: underline;
	}	
	
	h2 {
		font-family: $droid;
		font-size:  1.5rem;
		font-weight: 700;
		padding-top: 1rem;
		text-transform: uppercase;
	}
	
	hr {
    max-width: 75rem;
    height: 0px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 0px none;
    margin: 2.25rem auto;
    clear: both;
	}

	
}

.home-info-box {
	color: $coral;
	font-size: 1.5rem;
	padding: 2.5rem !important;
	
	.source {
		font-family: $droid;
		font-size: 1rem;
	}
}
